main {

    width: 75%;
    max-width: 50rem;
    margin: 2.5rem auto;
    display: grid;
    gap: 4rem;
}


table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

tr {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
}